.new-tweet {
  background-color: #eee;
  margin: 1em 2em;
  padding: 1em;
  border: thin solid #ddd;
  border-radius: 5px;
  display: none;
}

.new-tweet h2 {                 /* "Compose Tweet" */
  margin: 0 0 20px 0;
  border-bottom: thin solid black;
}

.new-tweet textarea {        /* "What are you humming about?" */
  padding: 5px;
  width: 100%;
}

#flash {
  display: none;
  color: #b20000;
  margin-left: 5px;
  font-size: 14px;
}

.new-tweet .counter {         /* 140 */
  float: right;
  margin: 5px;
  font-size: 14px;
  font-style: italic;
}